*{padding: 0; margin: 0;}

.container{
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
}

body{
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
}

/*=================================== Header ====================================*/

header{
    position: fixed;
    top: 0;
    width: 100%;
}
.containerMenu{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    background-color: #141414;
}
.logoMenu{
    display: flex;
}
.container--img{
    width: 150px;
    height:100%;
}
.container--img a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container--img img{
    height: 50%;
}
.container--links{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container--links ul{
    list-style: none;
    display: flex;
}
.container--links li{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.container--links a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.5s;
}
.container--links a:hover{
    color: rgb(143, 143, 143);
}
.busquedaUser{
    height: 100%;
    display: flex;
}
.container--busqueda{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.container--busqueda input{
    outline: none;
    width: 400px;
    height: 30px;
    color: white;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 0 0 0 40px;
    background-color: #2b2b2b;
    background-image: url(../img/lupa.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 2%;
}
.container--user{
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.busquedaUser img{
    width: 35px;
    height: 35px;
}

/*=============================================== banner =========================*/

.container--banner{
    width: 100%;
    height: 700px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container--text{
    width: 500px;
    padding-top: 200px;
}
.container--title{
    color: white;
    font-size: 100px;
}
.container--description{
    margin-top: 15px;
    font-size: 18px;
    color: white;
}
.container--buttons{
    margin-top: 20px;
}
.container--buttons button{
    border: none;
    height: 40px;
    padding: 0 60px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 15%;
}
.container--buttons button:nth-child(2){
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../img/info.svg);
}

/*================================================= Films =======================================*/

.container h2, h4{
    color: white;
    margin: 30px 0;
}
.container h4{
    margin-left: 20px;
}
.container--films{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
.container--movie{
    width: 140px;
    height: 200px;
    margin: 0 10px;
    background-color: aqua;
}
.container--movie img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s;
}
.container--movie img:hover{
    transform: scale(1.25);
}

/*=================== Footer =============*/
footer{
    margin-top: 100px;
    width: 100%;
    background-color: #2b2b2b;
}
.container--help{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.help--item{
    width: 20%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.help--item a{
    margin: 5px 0;
    text-decoration: none;
    color: white;
}
.help--item a:hover{
    text-decoration: underline;
}
.container--copy{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 50px;
}

/*=============================== P2_series ==================*/
.series--opciones{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.container--selectTitle{
    display: flex;
}
.selectTitle--item{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 5px;
}
.selectTitle--item select{
    height: 30px;
}
.container--button{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button--img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button--img img{
    height: 80%;
}